input {
    margin: 10px;
    border: 1px solid #0069D9;
    padding: 20px;
}

#register-error, #login-error {
    display: none;
    width: 50%;
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#btn-register {
    padding: 20px;
    margin: 10px;
}